h2 {
    text-align: center;
    margin-top: 3rem;
}



.content  {
    padding: 0rem 3rem 0rem 3rem;
    height: 15rem;
    display: flex;
    gap: 3rem;
}


.content img{
    height:100%;
    width: 100%;
}