body {
    text-align: center;
}

h2 {
    font-size: 3rem;
}

.safety {
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vmin;
}


.safety img {
    height: 40vmin;
    border-radius: 1.5rem;
    border: 2px solid  #3e3e3e;
}

.safety p {
    width: min(600px, 100%);
    font-size: 1.15rem;
}

hr {
    color: black;
    border: none;
    border-top: .75rem dotted #3e3e3e;
    width: 40vw;
}




