body {
    text-align: center;

}

#heading {
    margin-top: 3rem;
    font-size: 3rem;
}


.safety {
    display: flex;
    margin: 5rem 3rem 4rem 3rem;
    height: 12rem;
    width: auto;
    align-items: center;
    gap: 10rem;
    
    
}


.safety img{
    height: 120%;
    width: 120%;
    display: inline-block;
    border-radius: 1.5rem;
    
}

.safety p{
    font-size: 1.15rem;
    font-family: "Barlow";
}


hr {
    color: black;
    border-top: .75rem dotted #3e3e3e;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 40%;
    margin-left: 40%;
    

}




